html{
    border-radius: 20px;
    
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background: url('/images/tiny_hachi.png'), linear-gradient(180deg,rgba(123, 171, 196, 1) 42%, rgba(255, 255, 255, 1) 100%);
    background-position: top left;
    animation: mymove 50s linear infinite;
    width: 100%;
    height: 100%;
}

#layout {
    display: flex;
    align-items: center;  
    flex-direction: column;
    gap: 30px;                
    padding: 20px;
    margin: auto;
    
}

body {
    align-items: center;
    margin: 0;
    padding: 0;
    flex-direction: row;
    display: flex;
}

@keyframes mymove {
    0% {background-position: top left;} 100% {background-position: center;}
}

#curr_question {
    font-size: 30px;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
}

#choices label {
    cursor: pointer;
}

#choices input {
    cursor: pointer;
}






#choices {
    width: 100%;
    height: 100%;
    padding-top: 5%;
    /* padding: 10%; */
}

#choices label > * {
    padding: 10px;
    display: inline;
    cursor: pointer;

}

.choice_image { 
    width:600px;
    height:250px;
    transition: 0.2s ease-in-out;
    border-radius: 30px;
}

.choice_image:hover {
    margin-top: -2%;
}






#main-content {
    padding-top: 50px;
    margin-top: 10%;
    align-items: center;
}

#hachi_images {
    display: flex;
    flex-direction: row;
}

#hachi_images > * {
    width: 200px;
}

#add_button {
    margin-top: 75px;
    margin-left: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background: rgb(20, 108, 156);
    cursor: pointer;
    font-size: 20px;
    color: white;
    box-shadow: inset 0 0 0 0 rgb(11, 72, 105);
    transition: ease-in-out 0.5s;
}

#add_button:hover {
    box-shadow: inset 300px 0 0 0 rgb(11, 72, 105);
}

#modal {
    position:relative;
    display: inline-block;

}

#modal_content {
    position: absolute;
    bottom: 15%; 
    left: 50%;
    background: rgb(20, 108, 156);
    border: 1px solid #ccc;
    padding: 12px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 10;
    color: white;

    opacity: 0;
    transform: translateX(-10px);
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#modal_content.show {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}

#save_btn {
    margin-top: 10px;
    background: white;
    border-radius: 8px;
    border-color: transparent;
    cursor: pointer;
}

#cancel_btn {
    margin-top: 10px;
    background: white;
    border-radius: 8px;
    border-color: transparent;
    cursor: pointer;
}

#front-input {
    border-radius: 8px;
    border-color: transparent;
}

#back-input {
    border-radius: 8px;
    border-color: transparent;
}

#hachi_ears {
    margin-bottom: -14px;
    width: 525px;
}

#card {
    margin-bottom: 20px;
    color: white;
    background: #6cadc7;
    justify-content: center;
    display: flex;  
    align-items: center;
    width: 475px;
    height: 275px;
    padding: 25px;
    font-size: 22px;
    border-radius: 50px;
    border-color: #3e2620;
    border-width: 3px;
    border-top-width: 10px;
    border-style:solid;
    background-image: url('');
    word-break: break-all;
}

#flip_btn {
    margin: 8px;
    background: rgb(20, 108, 156); 
    width: 150px;
    height: 60px;
    font-size: 20px;
    border-radius: 8px;
    border-color: transparent;
    cursor: pointer;
    border-color: #3e2620;
    color: white;
}

#prev_btn {
    margin: 8px;
    background: rgb(20, 108, 156);
    width: 150px;
    height: 60px;
    font-size: 20px;
    border-radius: 8px;
    border-color: transparent;
    cursor: pointer;
    border-color: #3e2620;
    color: white;
}

#next_btn {
    margin: 8px;
    background: rgb(20, 108, 156);
    width: 150px;
    height: 60px;
    font-size: 20px;
    border-radius: 8px;
    border-color: transparent;
    cursor: pointer;
    border-color: #3e2620;
    color: white;
}